[app]
title = VoiceNote
package.name = voicenote
package.domain = org.peter
source.dir = .
source.include_exts = py,png,jpg,kv,atlas
version = 0.1
requirements = python3,kivy,kivy-garden,vosk,requests,appdirs,certifi,cffi,charset-normalizer,colorama,cython,filetype,idna,jinja2,markupsafe
orientation = portrait
fullscreen = 1
android.permissions = RECORD_AUDIO,INTERNET,WRITE_EXTERNAL_STORAGE,READ_EXTERNAL_STORAGE
android.api = 33
android.minapi = 24
android.ndk = 25b
android.sdk = 24
android.ndk_path = /home/codespace/.buildozer/android/platform/android-ndk-r25b
android.sdk_path = /home/codespace/.buildozer/android/platform/android-sdk
android.gradle_dependencies = 
android.logcat_filters = *:S python:D
log_level = 2
copy_to_bin = true
presplash.filename = %(source.dir)s/data/presplash.png
icon.filename = %(source.dir)s/data/icon.png

[buildozer]
log_level = 2
warn_on_root = 1
